{
  "plugins": [
    "angularjs-annotate"
  ],
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "android >= 4.4.4",
            "ios >= 8"
          ]
        },
        "useBuiltIns": true
      }
    ]
  ]
}
